
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</IfModule>

ErrorDocument 404 /404.html


<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Удаление .html из URL (перенаправление)
    RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
    RewriteRule ^ /%1? [NC,L,R=301]
    
    # Внутреннее перенаправление для URL без расширения на .html файлы
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^([^.]+)$ $1.html [L]
    
    # Правило для изображений (существующее)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^images/(.*)$ /images/placeholder.php?name=$1 [L]
</IfModule>
